*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
}
body {
  padding-top: 54px;
}

.inner {
  max-width: $inner-width;
  width: 95%;
  margin: auto;
}



